@import url('https://fonts.googleapis.com/css?family=Roboto');

.container-fluid {
}
.row > div {
  min-height: 100px;
  line-height: 100px;
}
.header{
  /*background-color: black;*/
}
#wrap_video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
}
video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; 
}
/*Toggle menu btn*/
.menu-toggle{
  position: fixed;
  left: 95%;
  top: 5%;
  z-index: 10;
  cursor: pointer;
}
.menu-toggle:hover{
  color: grey;
}
.bar, .bar1, .bar2{
  width: 40px;
  height: 10px;
  margin-bottom: 5px;
  background-color: black;
  transition: 0.4s;
}
.change .bar{
  width: 35px;
  background-color: white;
  transform: rotate(45deg)translate(8px,4px);
}
.change .bar1{
  width: 35px;
  background-color: white;
  transform: rotate(-45deg)translate(6px,-3px);
}
.change .bar2{
  opacity: 0.5;
}
/*--------------------------------------------------*/
/*Primary menu*/
.menu-container{
  position: absolute;
  transform: translateY(-100%); 
  z-index: 5;
}
.primary-menu{
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color:black;
  opacity: 0.9;
  transition:  0.5s;
}
.change .primary-menu{
  transform: translateY(100%); 
}
.primary-menu-ul{
  transform: translate(10%,80%);
}
.primary-menu ul{
  list-style-type: none;
}
.primary-menu-ul a{
  font-size: 50px;
  color: #eee;
}
.primary-menu-ul a:hover{
  text-decoration: none;
  color: grey;
}
.menu-item{
  transform: translateX(-100%);
  transition: 1s;
}
.change .menu-item{
  transform: translateX(10%)
}
/*---------------------------------------------------------*/
/*main-icon*/
.main-icon{
  cursor: pointer;
}
.main-icon h1{
  font-family: 'Open Sans', sans-serif;
}